<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591812364758-jln80b0p3mhlspfl9vet9v337s6r56n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591812364758-jln80b0p3mhlspfl9vet9v337s6r56n7</string>
	<key>API_KEY</key>
	<string>AIzaSyDBRyv_e4CmyG87LgmGtnF2un9hzu5EJ2M</string>
	<key>GCM_SENDER_ID</key>
	<string>591812364758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petmatch</string>
	<key>PROJECT_ID</key>
	<string>ongpets-882ef</string>
	<key>STORAGE_BUCKET</key>
	<string>ongpets-882ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591812364758:ios:30256b27b8885fa322fc77</string>
	<key>DATABASE_URL</key>
	<string>https://ongpets-882ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>